<template>
    <div>
        <nav class="bg-gray-800">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="flex items-center justify-between h-16">
                    <div class="flex items-center">
                        <div class="md:block">
                            <div class="ml-10 flex items-baseline">
                                <router-link :to="{ name: 'home' }" class="px-3 py-2 rounded-md text-sm font-medium text-white bg-gray-900 hover:bg-gray-700">Sites</router-link>
                            </div>
                        </div>
                    </div>
                    <div v-outside-clickable="{ handler: () => components.menu = false }" class="md:block">
                        <div class="ml-4 flex items-center md:ml-6">
                            <div class="ml-3 relative">
                                <div>
                                    <button class="max-w-xs flex items-center text-sm rounded-full text-white focus:outline-none focus:shadow-solid" @click="components.menu = !components.menu">
                                        <img class="h-8 w-8 rounded-full" :src="user.avatar.url" alt="avatar"/>
                                    </button>
                                </div>
                                <div v-show="components.menu" class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg">
                                    <div class="py-1 rounded-md bg-white shadow-xs">
                                        <span class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer" @click="onLogout">Log Out</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</template>

<script>
    import { mapActions } from 'vuex'

    export default {
        data() {
            return {
                components: {
                    menu: false
                }
            }
        },
        computed: {
            user() {
                return this.$store.state.auth.user
            }
        },
        methods: {
            ...mapActions({
                logout: 'auth/logout'
            }),
            async onLogout() {
                await this.logout();
                this.$router.push({ name: 'auth-login' })
            }
        }
    }
</script>
