<template>
    <div class="flex flex-col">
        <div v-if="!monitors" class="loader m-auto ease-linear rounded-full border-2 border-t-2 border-gray-200 h-10 w-10 m-2"/>
        <div v-else class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
            <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
                <monitors-list
                    :monitors="monitors.data"
                    @delete="id => modals.deleteMonitor = id"
                />
                <pagination
                    v-if="monitors.pagination.lastPage > 1"
                    :pagination="monitors.pagination"
                    @load="onLoadMonitors"
                />
            </div>
            <div class="mt-5 sm:mt-8 flex justify-between">
                <button class="pg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 m-2 border border-blue-500 hover:border-transparent rounded" @click="modals.createMonitor = true">
                    Add Site
                </button>
                <div class="flex flex-column-reverse items-center">
                    <div v-show="isChecking" class="loader ease-linear rounded-full border-2 border-t-2 border-gray-200 h-10 w-10 m-2"/>
                    <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 m-2 border border-blue-500 hover:border-transparent rounded" @click="onCheckMonitors(true, true)">
                        Check all
                    </button>
                    <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 m-2 border border-blue-500 hover:border-transparent rounded" @click="onCheckMonitors(true, false)">
                        Check Uptime
                    </button>
                    <button class="pg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 m-2 border border-blue-500 hover:border-transparent rounded" @click="onCheckMonitors(false, true)">
                        Check Certificates
                    </button>
                </div>
            </div>
        </div>
        <create-monitor-modal
            v-if="modals.createMonitor"
            @create="onLoadMonitors"
            @close="modals.createMonitor = false"
        />
        <delete-monitor-modal
            v-if="modals.deleteMonitor"
            :monitor-id="modals.deleteMonitor"
            @delete="onDeleteMonitor"
            @close="modals.deleteMonitor = false"
        />
    </div>
</template>

<script>
    import { mapActions, mapMutations } from 'vuex'
    import MonitorsList from '@/components/index/MonitorsList';
    import Pagination from '@/components/ui/Pagination'
    import CreateMonitorModal from '@/components/index/CreateMonitorModal'
    import DeleteMonitorModal from '@/components/index/DeleteMonitorModal'

    export default {
        components: {
            MonitorsList,
            Pagination,
            CreateMonitorModal,
            DeleteMonitorModal
        },
        data() {
            return {
                isChecking: false,
                modals: {
                    createMonitor: false,
                    deleteMonitor: false
                }
            }
        },
        computed: {
            monitors() {
                return this.$store.state.monitors.monitors
            }
        },
        methods: {
            ...mapActions({
                getMonitors: 'monitors/getMonitors',
                checkMonitors: 'monitors/checkMonitors'
            }),
            ...mapMutations({
                clearState: 'monitors/clearState'
            }),
            async onCheckMonitors(uptime = false, certificate = false) {
                if (!this.isChecking) {
                    this.isChecking = true;
                    await this.checkMonitors({
                        payload: {
                            uptime: uptime,
                            certificate: certificate
                        }
                    });
                    await this.onLoadMonitors(this.monitors.pagination.page);
                    this.isChecking = false
                }
            },
            onDeleteMonitor() {
                if (this.monitors.pagination.page < this.monitors.pagination.lastPage) {
                    this.onLoadMonitors(this.monitors.pagination.page)
                } else if (this.monitors.pagination.page > 1 && !this.monitors.data.length) {
                    this.onLoadMonitors(this.monitors.pagination.page - 1)
                }
            },
            onLoadMonitors(page = 1) {
                this.getMonitors({
                    params: {
                        take: 10,
                        page: page
                    }
                })
            }
        },
        mounted() {
            this.onLoadMonitors()
        },
        destroyed() {
            this.clearState()
        }
    }
</script>
