<template>
    <div class="fixed bottom-0 inset-x-0 px-4 pb-4 sm:inset-0 sm:flex sm:items-center sm:justify-center">
        <div class="fixed inset-0 transition-opacity">
            <div class="absolute inset-0 bg-gray-500 opacity-75" @click.self="onClose"/>
        </div>
        <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full">
            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                <div class="sm:flex sm:items-center justify-center">
                    <div class="mt-3 text-center sm:mt-0 sm:ml-4">
                        <h3 class="text-lg leading-6 font-medium text-gray-900">
                            Add site
                        </h3>
                        <div v-if="errorResponse" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative text-center" role="alert">
                            <p v-for="(error, key) in errorResponse.errors" :key="key" class="text-red-500 text-xs">{{ error[0] }}</p>
                        </div>
                        <ValidationObserver ref="validationObserver" tag="div" class="mt-2">
                            <div class="mb-4">
                                <ValidationProvider mode="passive" rules="required|url" v-slot="{ errors }">
                                    <input v-model="form.url" type="text" name="url" placeholder="Url" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" :class="{ 'border-red-500 placeholder-red-500': errors.length }">
                                    <p class="text-red-500 text-xs text-right">{{ errors[0] }}</p>
                                </ValidationProvider>
                            </div>
                        </ValidationObserver>
                    </div>
                </div>
            </div>
            <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">
                    <button type="button" class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-green-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green transition ease-in-out duration-150 sm:text-sm sm:leading-5" @click="onSubmit">
                      Add
                    </button>
                </span>
                <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto">
                    <button type="button" class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline transition ease-in-out duration-150 sm:text-sm sm:leading-5" @click="onClose">
                      Cancel
                    </button>
                </span>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapActions } from 'vuex'

    export default {
        data() {
            return {
                errorResponse: null,
                form: {
                    url: null
                }
            }
        },
        methods: {
            ...mapActions({
                createMonitor: 'monitors/createMonitor'
            }),
            async onSubmit() {
                const isValid = await this.$refs.validationObserver.validate();
                if (isValid) {
                    try {
                        await this.createMonitor({
                            payload: this.form
                        });
                        this.$emit('create');
                        this.onClose()
                    } catch (error) {
                       if (error.response.data) {
                           this.errorResponse = error.response.data
                       }
                    }
                }
            },
            onClose() {
                this.$emit('close')
            }
        }
    }
</script>
