<template>
    <table class="min-w-full">
        <thead>
            <tr>
                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                    URL
                </th>
                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                    Last Check
                </th>
                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                    Status
                </th>
                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                    Certificate Status
                </th>
                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody class="bg-white">
            <tr v-for="monitor in monitors" :key="monitor.id">
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                    <div class="text-sm leading-5 text-gray-900">{{ monitor.url }}</div>
                </td>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                    <div class="text-sm leading-5 text-gray-900">
                        {{ monitor.uptime.lastCheck }}
                    </div>
                </td>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                    <span class="px-4 inline-flex text-xs leading-8 font-semibold rounded-full" :class="{ 'bg-green-200 text-green-800': monitor.uptime.status === 'up', 'bg-red-200 text-red-800': monitor.uptime.status === 'down' }">
                        {{ monitor.uptime.status }}
                    </span>
                </td>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                    <span class="px-4 inline-flex text-xs leading-8 font-semibold rounded-full" :class="{ 'bg-green-200 text-green-800': monitor.certificate.status === 'valid', 'bg-red-200 text-red-800': monitor.certificate.status === 'invalid' }">
                        {{ monitor.certificate.status }} {{ monitor.certificate.expireAt }}
                    </span>
                </td>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
                    <span class="text-indigo-600 hover:text-indigo-900 focus:outline-none focus:underline cursor-pointer" @click="$emit('delete', monitor.id)">Delete</span>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
        props: {
            monitors: {
                required: true,
                type: Array
            }
        }
    }
</script>
