<template>
    <div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
        <div class="max-w-md w-full">
            <div>
                <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
                    Sign in to your account
                </h2>
            </div>
            <ValidationObserver ref="validationObserver" tag="form" class="mt-8" @submit.prevent="onLogin">
                <div v-if="responseError" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative text-center" role="alert">
                    <span class="block">{{ responseError }}</span>
                </div>
                <div class="mt-6">
                    <div>
                        <ValidationProvider mode="passive" rules="required|email" v-slot="{ errors }">
                            <input v-model="form.email" aria-label="Email address" name="email" type="email" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5" :class="{ 'border-red-500 placeholder-red-500': errors.length }" placeholder="Email address"/>
                            <p class="text-red-500 text-xs text-right">{{ errors[0] }}</p>
                        </ValidationProvider>
                    </div>
                    <div>
                        <ValidationProvider mode="passive" rules="required" v-slot="{ errors }">
                            <input v-model="form.password" aria-label="Password" name="password" type="password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5" :class="{ 'border-red-500 placeholder-red-500': errors.length }" placeholder="Password"/>
                            <p class="text-red-500 text-xs text-right">{{ errors[0] }}</p>
                        </ValidationProvider>
                    </div>
                </div>
                <div class="mt-6 flex items-center justify-between">
                    <div class="flex items-center">
                        <input id="remember_me" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out"/>
                        <label for="remember_me" class="ml-2 block text-sm leading-5 text-gray-900">
                            Remember me
                        </label>
                    </div>
                </div>
                <div class="mt-6">
                    <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
                        <span class="absolute left-0 inset-y pl-3">
                            <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400 transition ease-in-out duration-150" fill="currentColor" viewBox="0 0 20 20">
                                <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"/>
                            </svg>
                        </span>
                        Sign in
                    </button>
                </div>
            </ValidationObserver>
        </div>
    </div>
</template>

<script>
    import { mapActions } from 'vuex'

    export default {
        data() {
            return {
                responseError: null,
                form: {
                    email: null,
                    password: null
                }
            }
        },
        methods: {
            ...mapActions({
                setCsrfCookie: 'auth/setCsrfCookie',
                login: 'auth/login'
            }),
            async onLogin() {
                const isValid = await this.$refs.validationObserver.validate();
                if (isValid) {
                    try {
                        await this.setCsrfCookie();
                        await this.login({
                            payload: this.form
                        });
                        this.$router.push({ name: 'home' })
                    } catch (error) {
                        if (parseInt(error.response && error.response.status) === 401 && error.response.data.message) {
                            this.responseError = error.response.data.message
                        }
                    }
                }
            }
        }
    }
</script>
